{% extends 'store/main.html' %}
{% load static %}
{% block content %}
                <div class="row">
                <div class="col">
                <input type="search" name="item_name"  placeholder="Search for products" class="form control form-control-borderless">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-success">Search</button>
              </div>
							</div>
	<div class="row">
		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/helmet.jpg' %}">
			<div class="box-element product">
				<h6><strong>SteelBird Helmet</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>Rs.1,000</strong></h4>

			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/hplaptop.jpg' %}">
			<div class="box-element product">
				<h6><strong>HP 15.6-inch Laptop</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>Rs.28,990</strong></h4>

			</div>
		</div>

		<div class="col-lg-4">
		 <img class="thumbnail" src="{% static 'images/Samsung.jpg' %}">
		 <div class="box-element product">
			 <h6><strong>Samsung Galaxy M31s</strong></h6>
			 <hr>

			 <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
			 <a class="btn btn-outline-success" href="#">View</a>
			 <h4 style="display: inline-block; float: right"><strong>Rs.20,499</strong></h4>

		 </div>
	 </div>


 <div class="col-lg-4">
	 <img class="thumbnail" src="{% static 'images/bluetooth.jpg' %}">
	 <div class="box-element product">
		 <h6><strong>Wireless Bluetooth headphones</strong></h6>
		 <hr>

		 <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
		 <a class="btn btn-outline-success" href="#">View</a>
		 <h4 style="display: inline-block; float: right"><strong>Rs.999</strong></h4>

	 </div>
 </div>


<div class="col-lg-4">
	<img class="thumbnail" src="{% static 'images/watch.jpg' %}">
	<div class="box-element product">
		<h6><strong>Miss Perfect Watch</strong></h6>
		<hr>

		<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
		<a class="btn btn-outline-success" href="#">View</a>
		<h4 style="display: inline-block; float: right"><strong>Rs.745</strong></h4>

	</div>
</div>

<div class="col-lg-4">
	<img class="thumbnail" src="{% static 'images/bag.jpg' %}">
	<div class="box-element product">
		<h6><strong>Casual Bag</strong></h6>
		<hr>

		<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
		<a class="btn btn-outline-success" href="#">View</a>
		<h4 style="display: inline-block; float: right"><strong>Rs.597</strong></h4>

	</div>
</div>

<div class="col-lg-4">
	<img class="thumbnail" src="{% static 'images/dress.jpg' %}">
	<div class="box-element product">
		<h6><strong>Branded Kurtis</strong></h6>
		<hr>

		<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
		<a class="btn btn-outline-success" href="#">View</a>
		<h4 style="display: inline-block; float: right"><strong>Rs.1,449</strong></h4>

	</div>
</div>
<div class="col-lg-4">
	<img class="thumbnail" src="{% static 'images/men.jpg' %}">
	<div class="box-element product">
		<h6><strong>Mens Formal Wear</strong></h6>
		<hr>

		<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
		<a class="btn btn-outline-success" href="#">View</a>
		<h4 style="display: inline-block; float: right"><strong>Rs.1,500</strong></h4>

	</div>
</div>

<div class="col-lg-4">
	<img class="thumbnail" src="{% static 'images/tv.jpg' %}">
	<div class="box-element product">
		<h6><strong>Best Tv 2021</strong></h6>
		<hr>

		<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
		<a class="btn btn-outline-success" href="#">View</a>
		<h4 style="display: inline-block; float: right"><strong>Rs.18,500</strong></h4>

	</div>
</div>
<div class="col-lg-4">
	<img class="thumbnail" src="{% static 'images/dtable.jpg' %}">
	<div class="box-element product">
		<h6><strong>Dressing Table</strong></h6>
		<hr>

		<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
		<a class="btn btn-outline-success" href="#">View</a>
		<h4 style="display: inline-block; float: right"><strong>Rs.10,500</strong></h4>

	</div>
</div>
<div class="col-lg-4">
	<img class="thumbnail" src="{% static 'images/ltable.jpg' %}">
	<div class="box-element product">
		<h6><strong>Laptop Table</strong></h6>
		<hr>

		<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
		<a class="btn btn-outline-success" href="#">View</a>
		<h4 style="display: inline-block; float: right"><strong>Rs.5,400</strong></h4>

	</div>
</div>
<div class="col-lg-4">
	<img class="thumbnail" src="{% static 'images/lg.jpg' %}">
	<div class="box-element product">
		<h6><strong>LG Washinig Machini</strong></h6>
		<hr>

		<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
		<a class="btn btn-outline-success" href="#">View</a>
		<h4 style="display: inline-block; float: right"><strong>Rs.55,400</strong></h4>

	</div>
</div>
<div class="col-lg-4">
	<img class="thumbnail" src="{% static 'images/shoes.jpg' %}">
	<div class="box-element product">
		<h6><strong>Best Collections Shoes</strong></h6>
		<hr>

		<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
		<a class="btn btn-outline-success" href="#">View</a>
		<h4 style="display: inline-block; float: right"><strong>Rs.2,400</strong></h4>

	</div>
</div>
<div class="col-lg-4">
	<img class="thumbnail" src="{% static 'images/sbag.jpg' %}">
	<div class="box-element product">
		<h6><strong>Best Bags</strong></h6>
		<hr>

		<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
		<a class="btn btn-outline-success" href="#">View</a>
		<h4 style="display: inline-block; float: right"><strong>Rs.2,000</strong></h4>

	</div>
</div>
<div class="col-lg-4">
	<img class="thumbnail" src="{% static 'images/sofa.jpg' %}">
	<div class="box-element product">
		<h6><strong>Sofa Set</strong></h6>
		<hr>

		<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
		<a class="btn btn-outline-success" href="#">View</a>
		<h4 style="display: inline-block; float: right"><strong>Rs.24,000</strong></h4>

	</div>
</div>
</div>



{% endblock content %}
